body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bx-shadow: 2px 2px 4px #ddd;
}

.App {
	height: 100vh;
	width: 100vw;

	.btn-container {
		width: 20vw;
		display: flex;
		justify-content: space-around;
	}
}
